<div class="popup-block" id="popup_how">
	<div class="popup-block__overlay">
		<div class="popup-block__popup">
			<a href="javascript:;" data-toggle="dismiss" class="popup-block__close">
				<svg width="12" height="12">
					<use xlink:href="#close"></use>
				</svg>
			</a>
			<div class="popup-block__steps-block">
				<div class="popup-block__steps-title">How does Upskill work?</div>
				<div class="popup-block__mobile-steps-title">How Does it Work?</div>
				<div class="popup-block__controls-block">
					<a href="javascript:;" class="popup-block__control active" id="popup_control_1" data-toggle="tab" data-target="#popup-tab-1">
						<b>01</b>
						<span>Choose your appropiate specialization</span>
						<div class="popup-block__steps-icon"><div></div></div>
					</a>
					<a href="javascript:;" class="popup-block__control" id="popup_control_2" data-toggle="tab" data-target="#popup-tab-2">
						<b>02</b>
						<span>Choose your appropiate</span>
						<div class="popup-block__steps-icon"><div></div></div>
					</a>
					<a href="javascript:;" class="popup-block__control" id="popup_control_3" data-toggle="tab" data-target="#popup-tab-3">
						<b>03</b>
						<span>Choose your appropiate</span>
						<div class="popup-block__steps-icon"><div></div></div>
					</a>
					<a href="javascript:;" class="popup-block__control" id="popup_control_4" data-toggle="tab" data-target="#popup-tab-4">
						<b>04</b>
						<span>Subscribe to know when our  product launch</span>
					</a>
				</div>
				<div class="tab-content">
					<div class="tab-pane active" id="popup-tab-1">
						<div class="popup-block__tab-wrapper">
							<div class="popup-block__steps-inner">
								<div class="popup-block__steps-inner-title">Select Speciality</div>
								<div class="popup-block__steps-inner-description">
									<p>Choose your appropiate specialization choose your appropiate specialization</p>
								</div>
								<a href="javascript:;" class="btn btn--step" id="popup_step_1" data-toggle="tab" data-target="#popup-tab-2">
									<div>
										<svg width="14" height="14">
											<use xlink:href="#step"></use>
										</svg>
									</div>
									<span>Next Step</span>
								</a>
							</div>
							<div class="popup-block__steps-photo default"><img src="img/step-photo.png" alt=""></div>
							<div class="popup-block__steps-photo mobile"><img src="img/mobile-steps-photo.png" alt=""></div>
						</div>
					</div>
					<div class="tab-pane" id="popup-tab-2">
						<div class="popup-block__tab-wrapper">
							<div class="popup-block__steps-inner">
								<div class="popup-block__steps-inner-title">Select Speciality</div>
								<div class="popup-block__steps-inner-description">
									<p>Choose your appropiate specialization choose your appropiate specialization</p>
								</div>
								<a href="javascript:;" class="btn btn--step" id="popup_step_2" data-toggle="tab" data-target="#popup-tab-3">
									<div>
										<svg width="14" height="14">
											<use xlink:href="#step"></use>
										</svg>
									</div>
									<span>Next Step</span>
								</a>
							</div>
							<div class="popup-block__steps-photo default"><img src="img/step-photo.png" alt=""></div>
							<div class="popup-block__steps-photo mobile"><img src="img/mobile-steps-photo.png" alt=""></div>
						</div>
					</div>
					<div class="tab-pane" id="popup-tab-3">
						<div class="popup-block__tab-wrapper">
							<div class="popup-block__steps-inner">
								<div class="popup-block__steps-inner-title">Select Speciality</div>
								<div class="popup-block__steps-inner-description">
									<p>Choose your appropiate specialization choose your appropiate specialization</p>
								</div>
								<a href="javascript:;" class="btn btn--step" id="popup_step_3" data-toggle="tab" data-target="#popup-tab-4">
									<div>
										<svg width="14" height="14">
											<use xlink:href="#step"></use>
										</svg>
									</div>
									<span>Next Step</span>
								</a>
							</div>
							<div class="popup-block__steps-photo default"><img src="img/step-photo.png" alt=""></div>
							<div class="popup-block__steps-photo mobile"><img src="img/mobile-steps-photo.png" alt=""></div>
						</div>
					</div>
					<div class="tab-pane" id="popup-tab-4">
						<div class="popup-block__tab-wrapper">
							<div class="popup-block__steps-inner">
								<div class="popup-block__steps-inner-title">Select Speciality</div>
								<div class="popup-block__steps-inner-description">
									<p>Choose your appropiate specialization choose your appropiate specialization</p>
								</div>
							</div>
							<div class="popup-block__steps-photo default"><img src="img/step-photo.png" alt=""></div>
							<div class="popup-block__steps-photo mobile"><img src="img/mobile-steps-photo.png" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>